<div class="container text-white">
  <div class="jumbotron mt-5" style="background-color: #37474f">
    <h1 class="display-4 p-2">Customer {{ customer.name }} page</h1>

    <hr class="my-4" />
    <div class="container pb-2">
      <p class="h4 text-info">
        Customer Name: <span class="h5 text-white">{{ customer.name }}</span>
      </p>
      <p class="h4 text-info">
        Customer Email: <span class="h5 text-white">{{ customer.email }}</span>
      </p>
      <p class="h4 text-info">
        Customer Phone: <span class="h5 text-white">{{ customer.phone }}</span>
      </p>
    </div>
  </div>
</div>
