<div class="container exporter-container p-5 mt-5">
  <form class="add-form form-floating mb-3" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        [(ngModel)]="fileName"
        type="text"
        name="fileName"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">File Name</label>
    </div>
    <input
      type="submit"
      class="btn btn-block text-white bg-success"
      value="Export PDF"
    />
  </form>

  <div id="customer-table" class="customer-table">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let customer of customers">
              <th scope="row">{{customer.id}}</th>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.phone}}</td>
            </tr>
          </tbody>
    </table>
  </div>
</div>
